// Font fontawesome
@font-face {
	font-family:fontawesome;
    src:url('../../lib/font-awesome/fonts/fontawesome-webfont.ttf');
}

// Lato font regular
@font-face {
	font-family:lato_regular;
    src:url('../../fonts/Lato-Regular.ttf');
}

// Lato font bold
@font-face {
	font-family:lato_bold;
    src:url('../../fonts/Lato-Bold.ttf');
}

// Lato font light
@font-face {
	font-family:lato_light;
    src:url('../../fonts/Lato-Light.ttf');
}