header
    .logo-brand
        img(src="../../images/logo.png", alt="Happybooking Logo")
    .search
        form(action="" method="")
            input(type="text" class="form-control" placeholder="Search hotels...")
            button(type="submit")
                i.fa.fa-search
    .notify
        .notify__bookmark
            i.fa.fa-bookmark
        .notify__chat
            i.fa.fa-comments
        .notify__avartar
            img(src="../../images/user", alt="Lee")
            .notify__avartar__name Lee