header
    .logo-brand
        a(href="")
            img(src="../../images/logo.png", alt="Happybooking Logo")
    .search
        form(action="" method="")
            input(type="text" class="form-control" placeholder="Search hotels...")
            button(type="submit")
                i.fa.fa-search
    .notify
        ul
            li.notify__bookmark
                i.fa.fa-bookmark
            li.notify__chat
                i.fa.fa-comments
            li.notify__avatar
                .notify__avatar__block
                    img(src="../../images/user.jpg", alt="Lee")
                    | Jonas