.container{
    max-width: 120rem;
    margin: 5rem auto;
}
.header{
    background: $color-white;
    border-bottom: 1px solid $color-grey-light-2;
    height: 7rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.content{
    display: flex;
}
.sidebar{
    background:$color-grey-dark-1;
    flex: 0 0 18%;
}
.hotels{
    flex:1;
    background: $color-grey-light-1;
}